/* variables */
:root {
    /* fonts */
    --trebuchet: 'Trebuchet MS', Helvetica, sans-serif;

    /* spacing */
    --spacing-unit: 24px;
    --spacing-unit-small: 12px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

section {
    display: flex;
    padding: 25px;
}

/* element styles */
header {
    background-color: black;
    color: white;
    display: flex;
    font-family: var(--trebuchet);
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    width: 100%;
}

.nav li {
    font-size: 20px;
    float: right;
    list-style: none;
    margin-right: 5px;
    padding: 5px
}

.nav a {
    color: white;
}

.headshot {
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 100px;
    width: 50%;
}

#about_me {
    display: block;
    float: right;
    font-family: var(--trebuchet);
    padding-bottom: 0%;
    padding-top: 100px;
    text-align: center;
    width: 100%;
}

p {
    display: block;
    font-family: var(--trebuchet);
    font-size: 18px;
    float: right;
    padding: 10px;
    text-align: center;
}

.applications {
    display: block;
    font-family: var(--trebuchet);
    font-size: 18px;
    padding-bottom: 5px;
    text-align: center;
}

#fitness_quest {
    display: block;
    font-family: var(--trebuchet);
    text-align: center;
}

#guild_tavern {
    display: block;
    font-family: var(--trebuchet);
    padding-top: 30px;
    text-align:center;
}

#champions_of_arteria {
    display: block;
    font-family: var(--trebuchet);
    padding-top: 30px;
    text-align:center;
}

.placeholder {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

footer {
    background-color: black;
    color: white;
    font-family: var(--trebuchet);
    padding: 5px;
    text-align: center;
    width: 100%;
}

.links li {
    display: inline-flex;
    font-size: 20px;
    list-style: none;
    padding: 5px;
}

.links a {
    color: white;
}

/* This is no working and needs to be fixed */
/* Responsive styling for mobile devices */
@media screen and (min-width: 320px) and (max-width: 767px) {
    .headshot,
    .bio {
        display: flex;
        flex-direction: column;
    }
}