/* variables */
:root {
    /* fonts */
    --trebuchet: 'Trebuchet MS', Helvetica, sans-serif;

    /* spacing */
    --spacing-unit: 24px;
    --spacing-unit-small: 12px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* element styles */
header {
    background-color: black;
    color: white;
    display: flex;
    font-family: var(--trebuchet);
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    width: 100%;
}

.nav li {
    font-size: 20px;
    float: right;
    list-style: none;
    margin-right: 5px;
    padding: 5px
}

.nav a {
    color: white;
}

.image {
    display: block;
    padding-top: 75px;
    width: 100%;
}

p {
    display: block;
    font-family: var(--trebuchet);
    font-size: 18px;
    text-align: center;
    padding: 15px;
}

/* style the section elements for web application placeholders here */

footer {
    background-color: black;
    color: white;
    font-family: var(--trebuchet);
    padding: 5px;
    text-align: center;
}

.links li {
    display: inline-flex;
    font-size: 20px;
    list-style: none;
    padding: 5px;
}

.links a {
    color: white;
}